body {
    background-color: darksalmon;
}

h1 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    color:black;    
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

a {
    text-align: center;
    text-decoration: underline;
}