body {
    background-color: darksalmon;
}

h1 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    color:black;    
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

a,
p {
    text-align: center;
}

#contents {
    margin-top: 2rem;
    height: 300px;
    border: 1px solid black;
    text-align: left;
    border-radius: 25px
    background-color: rgb(255, 255, 255);
}

.block{
    display:block;
    margin:auto;
    border-radius:25px;
    width:min(70%, 500px);
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.479);
}
.recipe {
    padding: 5px;
    font-size: 1.5rem;
}